@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
html {
	scroll-behavior: smooth;
}

.logo {
  width: 500px;
  max-width: 90%;
}

body {
  margin: 20px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


a {
  color: #333; /* default link color */
}

a:visited {
  color: #666; /* visited link color */
}

a:hover {
  color: #999; /* hover link color */
}

a:active {
  color: #666; /* active link color */
}


nav a, nav a:visited, nav a:hover, nav a:active {
  text-decoration: none;
  color: 111;
}
nav {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #efefef;
  margin: 0px 0px 10px 0px;
  top: 0;
  text-align: center;
  font-weight: bold;
  background: #fff;
 box-shadow: -1px 10px 47px -5px rgba(0,0,0,0.24);
-webkit-box-shadow: -1px 10px 47px -5px rgba(0,0,0,0.10);
-moz-box-shadow: -1px 10px 47px -5px rgba(0,0,0,0.53);
  z-index: 99
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li:nth-child(0) {
  font-weight: 700;
}

.section {
    padding-bottom: 40px;
}

.section:nth-child(odd) {
    background: #f8f8f8;

}

.box {
  width: 800px;
  max-width: 90%;
  padding: 50px 0 20px 0;
  margin: auto;
  text-align: center;
}


.white {
  background: #fff;
}

.box-head-lap {
  border-radius: 10px;

  margin-top: 50px;
  top: -50px;
  display: float;
  border: 1px solid #ccc;
  
  position: relative;

}


h2 {
  padding: 0px;
  

  font-family: "New Rocker", serif;
  font-weight: 100;
  font-size: 40px;
  font-style: normal;
}

.card {
  border: 1px solid #ccc;
  padding: 50px;
  margin: 10px;
  background: #fff;
}

.title {
  font-weight: bold;
  font-size: 20pt;
}
